*{
    box-sizing: border-box;
}


body, html { 
   height: 100%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
  } 


  .back-img {
    /* The image used */
    background-image: url("./img/pexels-mati-mango-5952651.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(241, 233, 233);
    border: 3px solid #9b9696;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; 
    
  }
 
#label{
    display: block;
    padding: 10px;
    color: white;
}

  #number-input{
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  
  }
  
  .btn{
      width: 20%;
      padding: 10px 0;
      margin-top: 20px;
      background-color: rgb(81, 129, 233);
      color: white;
      outline: none;
      cursor: pointer;
  }

  .btn:hover{
    background-color: rgb(39, 105, 246);
    color: lightgrey;
  }

  #output{
      padding-bottom: 200px;
  }

  #error-text{
      color: red;
      padding: 40px 0;
      font-size: 30px;
  }